body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
}

nav input[type="text"] {
    padding: 5px;
    margin-left: 15px;
}

.user-menu {
    position: relative;
    display: flex;
    align-items: center;
}

.user-menu img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-left: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    display: flex;
}

aside {
    width: 200px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 20px;
    text-align: center;
    width: auto;
    margin-left: 30px;
    margin-top: 30px;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

aside ul li a.selected {
    background-color: #007bff;
    color: #fff;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slide {
    display: flex;
    align-items: center;
}

.slide img {
    width: 100%;
    height: auto;
}

.slide-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
}

/*------------------------------*/
.filter-container {
    width: 200px;
    padding: 15px;
    background-color: #f8f9fa; /* Світло-сірий фон */
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 15px;
    float: left; /* Розташування зліва */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filter-container label {
    font-weight: bold;
}

.filter-container .filter-option {
    padding: 5px;
    margin: 5px 0;
    border: 1px solid transparent;
    cursor: pointer;
}

.filter-container .filter-option.selected {
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    padding-left: 15px;
}

.filter-container input[type="number"],
.filter-container select {
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
}

.filter-container button, .filter-container a {
    font-size: 16px;
    display: block;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.filter-container a {
    width: 180px;
}

.filter-container button:hover,
.filter-container a:hover {
    background-color: #0056b3; /* Темніший синій при наведенні */
}



.sorting-option label {
    margin-right: 10px;
    font-weight: bold;
    color: #333;
}

.sorting-option select {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s;
}

.sorting-option select:hover {
    border-color: #007bff;
}

.sorting-option select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

