<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/ico1.png" type="image/x-icon">
    <title>Otto</title>
    <link rel="stylesheet" href="/css/perfumes.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<!-- Header -->
<header>
    <div class="logo">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        </a>
        <h1><a href="/">Otto</a></h1>
    </div>
    <nav>
        <a th:if="${user.isUser()||user.isAdmin()}" href="#" id="open-popup-btn">Бот-консультант</a>
        <a th:if="${!user.isUser()&&!user.isAdmin()}" href="#" onclick="massageAboutAvtorization()">Бот-консультант</a>
        <a href="/">Головна</a>
        <a href="contacts.html">Контакти</a>
        <a href="#">FAQs</a>
        <!-- Search by name -->

            <form action="/perfumes" method="get">
                <input type="hidden" name="priceSort" th:value="${priceSort}">
                <input type="hidden" name="nameSort" th:value="${nameSort}">
                <input style="border-radius:5px;" type="text" id="nameSearch" name="nameSearch" placeholder="Пошук за назвою"
                       th:value="${nameSearch}">
                <button type="submit" class="btn btn-primary" >Пошук</button>
            </form>
            <br>
        <!-- Log in -->
        <div th:unless="${user.email}">
            <a href="/login"><button type="button" class="btn btn-dark">Увійти</button></a>
        </div>
    </nav>
</header>
<div id="overlay"></div>
<div id="popup">
    <span class="close-btn">&times;</span>
    <div class="chat-container">
        <button id="start-chat-btn">Почати спілкування</button>
        <div id="chat-window" style="display: none; width: 400px; height: 400px; border: 1px solid #ccc; overflow-y: auto; flex-direction: column;">
            <div id="messages" style="flex-grow: 1;"></div>
            <button id="restart-chat-btn">Почати спочатку</button>
        </div>
    </div>
</div>
<!-- User profile -->
<div th:if="${user.email}" style="height:auto;">
    <!-- User name -->
    <h3 style="margin-left:20px;">Ім'я користувача: <i th:text="${user.name}"></i></h3>
    <!-- Avatar -->
    <div th:if="${user.avatar != null}" style="margin-left:20px; width:200px; display:flex; justify-content:center;">
        <img th:src="@{/images/{id}(id=${user.avatar.getId()})}" alt="User Avatar" height="50px"/>
    </div>
    <!-- Log out-->
    <div style="width:200px; height:20px; justify-content:space-between; display:flex; margin:20px;">
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <input type="submit" value="Вийти" class="btn btn-danger">
    </form>
    <br>
    <!-- Edit profile -->
    <form action="/user/edit" method="get">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <input type="submit" class="btn btn-secondary" value="Редагувати">
    </form>
        </div>
    <br>
    <!-- Admin panel-->
    <div th:if="${user.isAdmin()}" style="display: flex; flex-direction: column; align-items: center;">
        <button style="width:30%; margin-bottom:20px;"type="button" class="btn btn-dark"> <a href="/admin">Панель адміністратора</a></button>
        <button  style="width:30%;" type="button" class="btn btn-primary" onclick="location.href='/perfume-add'">
            Додати парфум
        </button>
    </div>
</div>


<!-- Sorting by price -->
<div class="filter-container">
    <form id="filterForm" action="/perfumes" method="get">
        <input type="hidden" name="priceSort" th:value="${priceSort}">
        <input type="hidden" name="nameSort" th:value="${nameSort}">

        <div class="sorting-container">
            <div class="sorting-option">
                <label for="priceSort">Сортувати за ціною:</label>
                <select id="priceSort" name="priceSort" onchange="updateUrlWithSort(this.value, 'priceSort')">
                    <option value="" th:selected="${priceSort == null}">Без сортування</option>
                    <option value="priceAsc" th:selected="${priceSort == 'priceAsc'}">За зростанням</option>
                    <option value="priceDesc" th:selected="${priceSort == 'priceDesc'}">За спаданням</option>
                </select>
            </div>

            <div class="sorting-option">
                <label for="nameSort">Сортувати за назвою:</label>
                <select id="nameSort" name="nameSort" onchange="updateUrlWithSort(this.value, 'nameSort')">
                    <option value="" th:selected="${nameSort == null}">Без сортування</option>
                    <option value="nameAsc" th:selected="${nameSort == 'nameAsc'}">За алфавітом</option>
                    <option value="nameDesc" th:selected="${nameSort == 'nameDesc'}">Проти алфавіту</option>
                </select>
            </div>
        </div>


        <!-- Filters -->
        <div>
            <label>Країна виробник</label><br>
            <div th:each="producerOption : ${allProducers}"
                 class="filter-option"
                 th:data-value="${producerOption}"
                 th:classappend="${#lists.contains(selectedProducers, producerOption) ? ' selected' : ''}"
                 onclick="toggleFilter(this, 'producerFilter')">
                <span th:text="${producerOption}">Producer Filter</span>
                <input type="hidden" name="producerFilter" th:value="${producerOption}"
                       th:if="${#lists.contains(selectedProducers, producerOption)}"/>
            </div>
        </div>
        <div>
            <label>Об'єм</label><br>
            <div th:each="volumeOption : ${allVolumes}"
                 class="filter-option"
                 th:data-value="${volumeOption}"
                 th:classappend="${#lists.contains(selectedVolumes, volumeOption) ? ' selected' : ''}"
                 onclick="toggleFilter(this, 'volumeFilter')">
                <span th:text="${volumeOption}">Volume Filter</span>
                <input type="hidden" name="volumeFilter" th:value="${volumeOption}"
                       th:if="${#lists.contains(selectedVolumes, volumeOption)}"/>
            </div>
        </div>
        <div>
            <label>Ціна від:</label>
            <input type="number" name="priceMinFilter" min="0" step="0.01" th:value="${priceMin}">
            <label>до</label>
            <input type="number" name="priceMaxFilter" min="0" step="0.01" th:value="${priceMax}">
        </div>
        <div>
            <label>Стать</label><br>
            <div th:each="sexFilter : ${allSexes}"
                 class="filter-option"
                 th:data-value="${sexFilter}"
                 th:classappend="${#lists.contains(selectedSexes, sexFilter) ? ' selected' : ''}"
                 onclick="toggleFilter(this, 'sexFilter')">
                <span th:text="${sexFilter}">Sex Filter</span>
                <input type="hidden" name="sexFilter" th:value="${sexFilter}"
                       th:if="${#lists.contains(selectedSexes, sexFilter)}"/>
            </div>
        </div>
        <div>
            <label>Аромат</label><br>
            <div th:each="aromaFilter : ${allAromas}"
                 class="filter-option"
                 th:data-value="${aromaFilter}"
                 th:classappend="${#lists.contains(selectedAromas, aromaFilter) ? ' selected' : ''}"
                 onclick="toggleFilter(this, 'aromaFilter')">
                <span th:text="${aromaFilter}">Aroma Filter</span>
                <input type="hidden" name="aromaFilter" th:value="${aromaFilter}"
                       th:if="${#lists.contains(selectedAromas, aromaFilter)}"/>
            </div>
        </div>
        <div>
            <label>Насиченість</label><br>
            <div th:each="saturationFilter : ${allSaturations}"
                 class="filter-option"
                 th:data-value="${saturationFilter}"
                 th:classappend="${#lists.contains(selectedSaturations, saturationFilter) ? ' selected' : ''}"
                 onclick="toggleFilter(this, 'saturationFilter')">
                <span th:text="${saturationFilter}">Saturation Filter</span>
                <input type="hidden" name="saturationFilter" th:value="${saturationFilter}"
                       th:if="${#lists.contains(selectedSaturations, saturationFilter)}"/>
            </div>
        </div>
        <div>
            <label>Пора дня</label><br>
            <div th:each="dayTimeFilter : ${allDayTimes}"
                 class="filter-option"
                 th:data-value="${dayTimeFilter}"
                 th:classappend="${#lists.contains(selectedDayTimes, dayTimeFilter) ? ' selected' : ''}"
                 onclick="toggleFilter(this, 'dayTimeFilter')">
                <span th:text="${dayTimeFilter}">DayTime Filter</span>
                <input type="hidden" name="dayTimeFilter" th:value="${dayTimeFilter}"
                       th:if="${#lists.contains(selectedDayTimes, dayTimeFilter)}"/>
            </div>
        </div>
        <div>
            <label>Специфічність</label><br>
            <div th:each="specificityFilter : ${allSpecificities}"
                 class="filter-option"
                 th:data-value="${specificityFilter}"
                 th:classappend="${#lists.contains(selectedSpecificities, specificityFilter) ? ' selected' : ''}"
                 onclick="toggleFilter(this, 'specificityFilter')">
                <span th:text="${specificityFilter}">Specificity Filter</span>
                <input type="hidden" name="specificityFilter" th:value="${specificityFilter}"
                       th:if="${#lists.contains(selectedSpecificities, specificityFilter)}"/>
            </div>
        </div>
        <div>
            <label>Сезон</label><br>
            <div th:each="seasonFilter : ${allSeasons}"
                 class="filter-option"
                 th:data-value="${seasonFilter}"
                 th:classappend="${#lists.contains(selectedSeasons, seasonFilter) ? ' selected' : ''}"
                 onclick="toggleFilter(this, 'seasonFilter')">
                <span th:text="${seasonFilter}">Season Filter</span>
                <input type="hidden" name="seasonFilter" th:value="${seasonFilter}"
                       th:if="${#lists.contains(selectedSeasons, seasonFilter)}"/>
            </div>
        </div>

        <button class="btn btn-success" style="width:180px; "type="submit">Фільтрувати</button>
        <br>
        <a href="/perfumes/resetFilters" class="btn btn-danger">Скинути фільтри</a>
    </form>

</div>



<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12" th:each="perfume : ${perfumes}">
            <figure class="card card-product-grid card-lg col-md-12 col-sm-12 col-xs-12">
                <a href="#" class="img-wrap" data-abc="true" th:href="@{/perfumes/{id}(id=${perfume.id})}">
                    <img th:src="@{/images/{id}(id=${perfume.previewImageId})}">
                </a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-9 col-xs-9">
                            <a href="#" class="title" data-abc="true" th:text="${perfume.name}"></a>
                            <span class="rated">Perfumes</span>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <div class="rating text-right">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <span class="rated">Rated 4.0/5</span>
                            </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap-payment">
                    <figcaption class="info-wrap">
                        <div class="row">
                            <div class="col-md-9 col-xs-9">
                                <a href="#" class="title" data-abc="true" th:text="${perfume.price + ' грн'}"></a>
                                <span class="rated">VISA Platinum</span>
                            </div>
                            <div class="col-md-3 col-xs-3">
                                <div class="rating text-right"> #### 8787 </div>
                            </div>
                        </div>
                    </figcaption>
                </div>
                <div class="bottom-wrap">
                    <a href="#" class="btn btn-primary float-right" data-abc="true" th:href="@{/perfumes/{id}(id=${perfume.id})}">Придбати</a>
                    <div th:if="${user.isAdmin()}" class="price-wrap">
                        <form th:action="@{/perfumes/edit/{id}(id=${perfume.id})}" method="get">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                            <input type="submit" class="btn btn-dark float-left" value="Редагувати" style="margin-left:5px;">
                        </form>
                    </div>
                    <div th:if="${user.isAdmin()}" class="price-wrap">
                        <form th:action="@{/perfumes/delete/{id}(id=${perfume.id})}" method="post">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                            <input type="submit" class="btn btn-dark float-left" style="margin:5px" value="Видалити">
                        </form>
                    </div>
                </div>
            </figure>
        </div>
    </div>
</div>

<script>
    function updateUrlWithSort(value, sortType) {
        const url = new URL(window.location.href);
        url.searchParams.set(sortType, value);

        // Preserve existing filter parameters without modification
        const filters = ['producerFilter', 'volumeFilter', 'priceMinFilter', 'priceMaxFilter', 'sexFilter', 'aromaFilter', 'saturationFilter', 'dayTimeFilter', 'specificityFilter', 'seasonFilter'];
        filters.forEach(filter => {
            const elements = document.querySelectorAll(`input[name="${filter}"]`);
            elements.forEach(el => {
                // Check if the filter parameter already exists in URL
                if (!url.searchParams.has(filter)) {
                    if (el.type === 'checkbox' && el.checked) {
                        url.searchParams.append(filter, el.value);
                    } else if (el.type === 'number' && el.value) {
                        url.searchParams.set(filter, el.value);
                    }
                }
            });
        });

        window.location.href = url.toString();
    }

</script>
<script>
    function massageAboutAvtorization() {
        alert("Бот-консультант доступний лише для авторизованих користувачів, будь ласка, авторизуйтеся :)")
    }
    document.addEventListener('DOMContentLoaded', function () {
        const openPopupBtn = document.getElementById('open-popup-btn');
        const popup = document.getElementById('popup');
        const overlay = document.getElementById('overlay');
        const closeBtn = document.querySelector('#popup .close-btn');

        // Функція для відкриття попапу
        function openPopup() {
            popup.style.display = 'block';
            overlay.style.display = 'block';
        }

        // Функція для закриття попапу
        function closePopup() {
            popup.style.display = 'none';
            overlay.style.display = 'none';
        }

        // Додаємо обробники подій для кнопок
        openPopupBtn.addEventListener('click', openPopup);
        closeBtn.addEventListener('click', closePopup);
        overlay.addEventListener('click', closePopup);
    });
</script>
<script>
    function toggleFilter(element, filterName) {
        element.classList.toggle('selected');
        updateHiddenInputs(element, filterName);
    }

    function updateHiddenInputs(element, filterName) {
        const form = document.getElementById('filterForm');
        const value = element.getAttribute('data-value');

        if (element.classList.contains('selected')) {
            // Add hidden input
            const hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = filterName;
            hiddenInput.value = value;
            form.appendChild(hiddenInput);
        } else {
            // Remove hidden input
            const inputs = form.querySelectorAll(`input[type="hidden"][name="${filterName}"][value="${value}"]`);
            inputs.forEach(input => input.remove());
        }
    }
</script>
<script src="/js/bot.js"></script>
<script src="https://kit.fontawesome.com/30fcdc0573.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
