<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/perfume-edit.css">
</head>
<body>
<!-- Add perfume form-->
    <h2>Додати парфум</h2>
    <form action="/perfumes/add" method="post" enctype="multipart/form-data">
        <div>
            <label for="name">Назва</label>
            <input type="text" id="name" name="name" required><br><br>
        </div>
        <div>
            <label for="description">Опис</label>
            <input type="text" id="description" name="description"><br><br>
        </div>
        <div>
            <label for="producer">Країна виробник</label>
            <input type="text" id="producer" name="producer" required><br><br>
        </div>
        <div>
            <label for="price">Ціна</label>
            <input type="number" id="price" name="price" min="0" step="0.01" required><br><br>
        </div>
        <div>
            <label for="volume">Об'єм</label>
            <input type="number" id="volume" name="volume" min="0" required><br><br>
        </div>
        <div>
            <label for="amount">Кількість</label>
            <input type="number" id="amount" name="amount" min="0" required><br><br>
        </div>
        <div>
            <label>Стать</label><br>
            <input type="radio" id="sex-male" name="sex" value="Чоловічі" required>
            <label for="sex-male">Чоловічі</label><br>
            <input type="radio" id="sex-female" name="sex" value="Жіночі" required>
            <label for="sex-female">Жіночі</label><br>
            <input type="radio" id="sex-unisex" name="sex" value="Унісекс" required>
            <label for="sex-unisex">Унісекс</label><br>
        </div><br>

        <div>
            <label>Аромат</label><br>
            <input type="radio" id="aroma-floral" name="aroma" value="Квіткові" required>
            <label for="aroma-floral">Квіткові</label><br>
            <input type="radio" id="aroma-citrus" name="aroma" value="Цитрусові" required>
            <label for="aroma-citrus">Цитрусові</label><br>
            <input type="radio" id="aroma-oriental" name="aroma" value="Східні" required>
            <label for="aroma-oriental">Східні</label><br>
            <input type="radio" id="aroma-woody" name="aroma" value="Деревні" required>
            <label for="aroma-woody">Деревні</label><br>
            <input type="radio" id="aroma-fougere" name="aroma" value="Фужерні" required>
            <label for="aroma-fougere">Фужерні</label><br>
        </div><br>

        <div>
            <label>Насиченість</label><br>
            <input type="radio" id="intensity-light" name="intensity" value="Легкі" required>
            <label for="intensity-light">Легкі</label><br>
            <input type="radio" id="intensity-strong" name="intensity" value="Насичені" required>
            <label for="intensity-strong">Насичені</label><br>
            <input type="radio" id="intensity-moderate" name="intensity" value="Помірні" required>
            <label for="intensity-moderate">Помірні</label><br>
        </div><br>

        <div>
            <label>Пора дня</label><br>
            <input type="radio" id="timeOfDay-morning" name="timeOfDay" value="Ранок" required>
            <label for="timeOfDay-morning">Ранок</label><br>
            <input type="radio" id="timeOfDay-day" name="timeOfDay" value="День" required>
            <label for="timeOfDay-day">День</label><br>
            <input type="radio" id="timeOfDay-evening" name="timeOfDay" value="Вечір" required>
            <label for="timeOfDay-evening">Вечір</label><br>
        </div><br>

        <div>
            <label>Специфічність</label><br>
            <input type="radio" id="specificity-everyday" name="specificity" value="Повсякденні" required>
            <label for="specificity-everyday">Повсякденні</label><br>
            <input type="radio" id="specificity-special" name="specificity" value="Спеціальні" required>
            <label for="specificity-special">Спеціальні</label><br>
            <input type="radio" id="specificity-work" name="specificity" value="Робота" required>
            <label for="specificity-work">Робота</label><br>
            <input type="radio" id="specificity-relax" name="specificity" value="Відпочинок" required>
            <label for="specificity-relax">Відпочинок</label><br>
        </div><br>

        <div>
            <label>Сезон</label><br>
            <input type="radio" id="season-summer" name="season" value="Літо" required>
            <label for="season-summer">Літо</label><br>
            <input type="radio" id="season-autumn" name="season" value="Осінь" required>
            <label for="season-autumn">Осінь</label><br>
            <input type="radio" id="season-winter" name="season" value="Зима" required>
            <label for="season-winter">Зима</label><br>
            <input type="radio" id="season-spring" name="season" value="Весна" required>
            <label for="season-spring">Весна</label><br>
        </div><br>
        <div>
            <label for="file1">Фото 1 (головна)</label>
            <input type="file" id="file1" name="file1" required><br><br>
        </div>
        <div>
            <label for="file2">Фото 2</label>
            <input type="file" id="file2" name="file2"><br><br>
        </div>
        <div>
            <label for="file3">Фото 3</label>
            <input type="file" id="file3" name="file3"><br><br>
        </div>
        <div>
            <input type="hidden" name="_csrf" value="Додати парфум" th:value="${_csrf.token}">
        </div>
        <div>
            <input type="submit" value="Додати парфум">
        </div>
    </form>
<script>
    document.getElementById('perfumeForm').addEventListener('submit', function (event) {
        const price = document.getElementById('price').value;
        if (price < 1) {
            event.preventDefault();
            alert('Ціна повинна бути не менше 1.00');
        }
    });
</script>
</body>
</html>