<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Otto</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>


<a href="/" class="logo-link"><h1>Otto</h1></a>
<div class="login-box">
    <form action="/user-edit-profile" th:action="@{/user/edit}" th:object="${user}" method="post" enctype="multipart/form-data">
        <div class="login-header">
            <header>Редагувати профіль</header>
        </div>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <input type="hidden" name="userId" th:value="${user.id}">
        <div th:if="${user.avatar != null}">
            <img th:src="@{/images/{id}(id=${user.avatar.getId()})}" alt="User Avatar" height="50px"/>
        </div>
        <div class="input-box">
            <label for="name" >Ім'я користувача:</label>
            <input type="text"  class="input-field" placeholder="Ім'я користувача" autocomplete="off" id="name" name="name" th:field="*{name}">
        </div>
        <div class="input-box">
            <label for="phone">Телефон: +38</label>
            <input type="text"   class="input-field" placeholder="Телефон" autocomplete="off"  id="phone" name="phone" th:value="${user.phone}">
        </div>
        <div class="input-box">
            <label for="password">Новий пароль:</label>
            <input type="password"  class="input-field" placeholder="password" autocomplete="off" id="password" name="password" th:field="*{password}">
        </div>
        <div>
            <label for="file">Аватар:</label>
            <input type="file" id="file" name="file" class="file-field" placeholder="Аватар" autocomplete="off">
        </div>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <div class="input-submit">
            <button class="submit-btn" id="submit"></button>
            <label for="submit">Зберегти</label>
        </div>
    </form>


</body>
</html>
